* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#Home {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: black;
  height: 100vh;
  width: 100%;
  cursor: help;

  .mask {
    position: absolute;
    inset: 0;
    background-color: white;
    clip-path: circle(var(--size, 100px) at var(--x, 50%) var(--y, 50%));
    -webkit-clip-path: circle(var(--size, 75px) at var(--x, 50%) var(--y, 50%));
  }

  p {
    font-size: 50px;
  }
}
